@font-face {
    font-family: "Milton One";
    src: url("../Fuentes/Milton_One.otf") format("truetype");
    /* Asegúrate de que la ruta sea correcta */
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: "Milton One", sans-serif;
    overflow: hidden;
}

#mensaje {
    font-size: 140px;
    display: none;
    position: absolute;
}

img.manos {
    width: 160%;
    position: relative;
    left: -55px;
    z-index: -1;
}

h1.letras {
    position: absolute;
    z-index: 1;
    left: 42%;
    top: 30%;
    font-size: 70px;
}